@using AdmCRRN.Models
@using AdmCRRN.Models.Transporte
@using AdmCRRN.Controllers.Aplicacao.Sessao

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>
    <style type="text/css">
        body
        {
            padding-top: 150px;
            padding-bottom: 40px;
        }
        .sidebar-nav
        {
            padding: 9px 0;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                   <a style="text-decoration: none">
                   <img src="../../img/Imagem4.png" style="margin-top : -15px"/>
                   <b style="color:#fff; font-size:20pt; text-decoration: none">ICTHUS - sistema para gestão igrejas</b>
                   </a>
                   <a class="btn btn-info btn-large pull-right" style="margin-top : 50px">Conheça nosso sistema »</a>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Cadastros</li>
                        @if (SessaoUsuario.Conta().Instituicao.IsCentro())
                        {
                            <li><a href="@Url.Action("Index", "Entidade")"><i class="icon-home"></i>Entidades</a></li>
                            <li><a href="@Url.Action("Index", "Account", new { id = SessaoUsuario.Conta().Instituicao.Id })"><i class="icon-user"></i>Usuários</a></li>
                            <li class="nav-header">Mov. Caixa</li>
                            <li><a href="@Url.Action("Index", "TipoPagamento")"><i class="icon-user"></i>Tipos de Pagamento</a></li>
                            <li><a href="@Url.Action("Index", "PlanoConta")"><i class="icon-user"></i>Planos de Conta</a></li>
                        }
                        else if (SessaoUsuario.Conta().Instituicao.IsEntidade())
                        { 
                            <li><a href="@Url.Action("Index", "Membro", new { id = SessaoUsuario.Conta().Instituicao.Id })"><i class="icon-home"></i>Membros</a></li>
                            <li><a href="@Url.Action("ChangePassword", "Account")"><i class="icon-user"></i>Mudar senha</a></li>
                        }
                        else if (SessaoUsuario.UsuarioSuperAdmin())
                        {
                            <li>@Html.ActionLink("Centro Administrativo", "Index", "Centro")</li>
                        }
                        <li class="nav-header">Sistema</li>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Sair", "LogOff", "Account")</li>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <div class="span9 well">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
