@model IEnumerable<AdmCRRN.Models.ViewModel.UsuarioViewModel>
@using AdmCRRN.Models.Transporte
@{
    ViewBag.Title = "Index";
    var tipoInstituicao = "centro";
    if (Model.Count() > 0)
    {
        tipoInstituicao = Model.First().TipoInstituicao.ToLower();
    }
}
<h2>
    Index</h2>
<p>
    @if (tipoInstituicao == "centro")
    { 
        @Html.ActionLink("Novo Usuário administrador", "RegisterAdmin", "Account")
    }
    @if (tipoInstituicao == "entidade")
    { 
        @Html.ActionLink("Novo Usuário da Entidade", "Register", "Account", new { id = Model.First().IdInstituicao }, null)
    }
    <br />
    @Html.ActionLink("Mudar Senha", "ChangePassword", new ChangePasswordModel())
</p>
<table>
    <tr>
        <th>
            Nome
        </th>
        <th>
            Email
        </th>
        <th>
            Nome da Instituição
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeInstituicao)
            </td>
        </tr>
    }
</table>
<p>
    <a href="@Request.UrlReferrer">Voltar</a>
</p>
