@model IEnumerable<AdmCRRN.Models.Transporte.Usuario>
@using AdmCRRN.Models
@using AdmCRRN.Models.Transporte
@{
    ViewBag.Title = "Index";
}
<h2>Cadastro de usuários</h2>
<p>
    @Html.ActionLink((string)ViewBag.TextOnLink, (string)ViewBag.ActionLink, "Account", (object)ViewBag.RouteValue, new { @class = "btn" })
    @Html.ActionLink("Mudar Senha", "ChangePassword", new ChangePasswordModel(), new { @class="btn"})
</p>
<table class="table table-bordered">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Email
        </th>
        <th>
            Nome da Instituição
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeInstituicao)
            </td>
        </tr>
    }
</table>
<p>
    <a href="@Request.UrlReferrer">Voltar</a>
</p>
