@model AdmCRRN.Models.Entidade

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Entidade</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Tipo)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(e => e.Tipo, Model.ListaTiposEntidade())
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CNPJ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CNPJ)
            @Html.ValidationMessageFor(model => model.CNPJ)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataFundacao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataFundacao)
            @Html.ValidationMessageFor(model => model.DataFundacao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataEmancipacao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataEmancipacao)
            @Html.ValidationMessageFor(model => model.DataEmancipacao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dirigente)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Dirigente.Id,(SelectList)ViewBag.Dirigentes)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.Tesoureiro)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Tesoureiro.Id,(SelectList)ViewBag.Tesoureiros)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.Secretario)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Secretario.Id, (SelectList)ViewBag.Secretarios)
        </div>


        @Html.Partial("~/Views/Endereco/_Edit.cshtml", Model.Endereco)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

