@model IEnumerable<AdmCRRN.Models.Transporte.EntidadeDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Cnpj
        </th>
        <th>
            Nome
        </th>
        <th>
            Tipo
        </th>
        <th>
            Membros
        </th>
        <th>
            Congregados
        </th>
        <th>
            Crianças
        </th>
        <th>
            Total
        </th>
    </tr>

@foreach (var item in Model.ToList()) {
    <tr>
        <td>
            @Html.ActionLink("Usuários", "Index", "Account", new { id=item.Id }, null ) |
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
            @item.CNPJ
        </td>
        <td>
            @item.Nome
        </td>
        <td>
            @item.NomeTipoEntidade
        </td>
        <td>
            @item.QuantidadeMembros()
        </td>
        <td>
            @item.QuantidadeCongregados()
        </td>
        <td>
            @item.QuantidadeCriancas()
        </td>
        <td>
            @item.Membros.Count
        </td>
    </tr>
}

</table>

