@model AdmCRRN.Models.Membro
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Create</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Membro</legend>
        @Html.DropDownListFor(m => m.Tipo, (SelectList)ViewBag.TipoMembro)
        @Html.DropDownListFor(m => m.Tipo, (SelectList)ViewBag.EstadoCivil)

        <div class="editor-label">
            @Html.LabelFor(model => model.CPF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CPF)
            @Html.ValidationMessageFor(model => model.CPF)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rg)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rg)
            @Html.ValidationMessageFor(model => model.Rg)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefone)
            @Html.ValidationMessageFor(model => model.Telefone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Celular)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Celular)
            @Html.ValidationMessageFor(model => model.Celular)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Filiacao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Filiacao)
            @Html.ValidationMessageFor(model => model.Filiacao)
        </div>
 
        <div class="editor-label">
            @Html.LabelFor(model => model.DataNascimento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataNascimento)
            @Html.ValidationMessageFor(model => model.DataNascimento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataBatismo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataBatismo)
            @Html.ValidationMessageFor(model => model.DataBatismo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OficianteBatismo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OficianteBatismo)
            @Html.ValidationMessageFor(model => model.OficianteBatismo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataTornouSeMembro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataTornouSeMembro)
            @Html.ValidationMessageFor(model => model.DataTornouSeMembro)
        </div>
  
        @Html.Partial("~/Views/Endereco/_Edit.cshtml", Model.Endereco)
  
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index", new { id = Model.Entidade.Id })
</div>
